<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>FIGIS</display-name>
	<description>
  </description>
	<context-param>
		<description>Send comments here</description>
		<param-name>webmaster</param-name>
		<param-value>figis-comments@fao.org</param-value>
	</context-param>
	<!--BALANCER <filter> <filter-name>BalancerFilter</filter-name> <filter-class>org.apache.webapp.balancer.BalancerFilter</filter-class> 
		<init-param> <param-name>configUrl</param-name> <param-value>C:\workspacesRcs\workspace\figis-web\webapps\figis\WEB-INF/config/rules.xml</param-value> 
		</init-param> </filter> <filter-mapping> <filter-name>BalancerFilter</filter-name> <url-pattern>/*</url-pattern> </filter-mapping> -->
	<!-- Define servlets that are included in the example application -->
	<!-- Log4j manager servlet -->
	<servlet>
		<servlet-name>LogManagerServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.log.LogManagerServlet</servlet-class>
		<init-param>
			<param-name>figis.logProprertyFile</param-name>
      <param-value>webapps/figis/WEB-INF/properties/log4j.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- this one loads these properties into the FiConstants class for access by ALL classes in the various figis servlets -->
	<servlet>
		<servlet-name>FiInit</servlet-name>
		<servlet-class>org.fao.fi.figis.util.data.FiConstantsInitServlet</servlet-class>
		<init-param>
			<param-name>figis.root</param-name>
			<param-value>.</param-value>
		</init-param>
		<init-param>
			<param-name>figis.temp</param-name>
			<param-value>C:\workspacesRcs\workspace\figis-web\webapps\figis\temp</param-value>
		</init-param>
		<init-param>
			<param-name>figis.properties</param-name>
      <param-value>webapps/figis/WEB-INF/properties</param-value>
		</init-param>
		<init-param>
			<param-name>figis.servletpattern</param-name>
			<param-value>figis/servlet</param-value>
		</init-param>
		<load-on-startup>99</load-on-startup>
	</servlet>
	<!-- Graph generator servlet -->
	<servlet>
		<servlet-name>GraphGeneratorServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.statquery.generator.GraphGeneratorServlet</servlet-class>
		<init-param>
			<param-name>figis.graphGeneratorStore</param-name>
			<param-value>C:\workspacesRcs\workspace\figis-web\webapps\figis\wwwroot/fi/figis/graphs</param-value>
		</init-param>
	</servlet>
	<!-- Navigation manager servlet -->
	<servlet>
		<servlet-name>NavigationManagerServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.navigation.NavigationManagerServlet</servlet-class>
	</servlet>
	<!-- cache cleaner service -->
	<servlet>
		<servlet-name>CacheManagerServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.cache.CacheManagerServlet</servlet-class>
		<init-param>
			<param-name>figis.dynamic-xml-cache.dir</param-name>
			<param-value>C:\workspacesRcs\workspace\figis-web\webapps\figis\DiskCache</param-value>
		</init-param>
		<init-param>
			<param-name>figis.static-xml-cache.dir</param-name>
			<param-value>C:\workspacesRcs\workspace\figis-web\webapps\figis\wwwroot\fi\figis\temp</param-value>
		</init-param>
	</servlet>
	<!-- Reference Service Loader -->
	<servlet>
		<servlet-name>RefServLoader</servlet-name>
		<servlet-class>org.fao.fi.figis.refselector.RefServLoader</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<!-- user logon servlet -->
	<servlet>
		<servlet-name>FigisLogonServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.security.FigisLogonServlet</servlet-class>
	</servlet>
	<!-- main factsheet servlet -->
	<servlet>
		<servlet-name>FiRefServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.common.FiRefServlet</servlet-class>
	</servlet>
	<!-- set of dataset specific factsheet servlets -->
	<servlet>
		<servlet-name>static</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.servlet.Static</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>species</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.species.servlet.Species</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>introsp</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.introsp.servlet.Introsp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>geartype</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.geartype.servlet.Geartype</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>vesseltype</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.vesseltype.servlet.Vesseltype</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fishtech</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.fishtech.servlet.Fishtech</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>stock</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.stockresource.servlet.Stock</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resource</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.resource.servlet.Resource</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>document</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.document.servlet.Document</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>gisfish</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.gisfish.servlet.Gisfish</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>country</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.country.servlet.Country</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>institute</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.dataset.institute.servlet.Institute</servlet-class>
	</servlet>
	<!-- end of dataset specific factsheet servlets -->
	<!-- various editing servlets -->
	<!-- factsheet edit servlet -->
	<servlet>
		<servlet-name>FiEditServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.common.FiEditServlet</servlet-class>
	</servlet>
	<!-- factsheet edit list servlet -->
	<servlet>
		<servlet-name>FiEditListServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.common.FiEditListServlet</servlet-class>
	</servlet>
	<!-- simple query servlet -->
	<servlet>
		<servlet-name>SimpleQueryServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.common.FiSimpleQueryServlet</servlet-class>
	</servlet>
	<!-- factsheet search servlet -->
	<servlet>
		<servlet-name>FsSearchServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.common.FiFsSearchServlet</servlet-class>
	</servlet>
	<!-- xml validation servlet - back-end for the matching applet -->
	<servlet>
		<servlet-name>FiXmlCheckServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.common.applet.FiXmlCheckServlet</servlet-class>
	</servlet>
	<!-- image repository servlet -->
	<servlet>
		<servlet-name>FiImageReposServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.common.FiImageReposServlet</servlet-class>
	</servlet>
	<!-- applet backend servlet -->
	<!-- RefService metadata servlet -->
	<servlet>
		<servlet-name>MetaDataServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.metadata.MetaDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DatasetAccessor</servlet-name>
		<servlet-class>org.fao.fi.figis.statapplet.data.servers.DatasetAccessor</servlet-class>
	</servlet>
	<!-- RefService display servlet -->
	<servlet>
		<servlet-name>RefDisplayServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.reftable.RefDisplayServlet</servlet-class>
	</servlet>
	<!-- security services servlet -->
	<servlet>
		<servlet-name>UserManagementServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.security.UserManagementServlet</servlet-class>
	</servlet>
	<!-- security services servlet -->
	<servlet>
		<servlet-name>CollectionManagementServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.security.CollectionManagementServlet</servlet-class>
	</servlet>
	<!-- security services servlet -->
	<servlet>
		<servlet-name>RightsManagementServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.security.RightsManagementServlet</servlet-class>
	</servlet>
	<!-- security services servlet -->
	<servlet>
		<servlet-name>MetadataManagementServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refservice.security.MetadataManagementServlet</servlet-class>
	</servlet>
	<!-- ref.services servlet -->
	<servlet>
		<servlet-name>RefServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.reftable.RefServlet</servlet-class>
	</servlet>
	<!-- ref.services object servlet -->
	<servlet>
		<servlet-name>RefObjectServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.reftable.RefObjectServlet</servlet-class>
	</servlet>
	<!-- ref.services columns servlet -->
	<servlet>
		<servlet-name>RefColumnsServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.reftable.RefColumnsServlet</servlet-class>
	</servlet>
	<!-- ref.services import servlet -->
	<servlet>
		<servlet-name>RefImportServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.reftable.RefImportServlet</servlet-class>
	</servlet>
	<!-- ref.services print servlet -->
	<servlet>
		<servlet-name>RefPrintServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.reftable.RefPrintServlet</servlet-class>
	</servlet>
	<!-- ref.services export servlet -->
	<servlet>
		<servlet-name>RefExportServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.reftable.RefExportServlet</servlet-class>
	</servlet>
	<!-- ref.services sort servlet -->
	<servlet>
		<servlet-name>RefSortServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.refgui.reftable.RefSortServlet</servlet-class>
	</servlet>
	<!-- stats query servlet -->
	<servlet>
		<servlet-name>SQServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.statquery.SQServlet</servlet-class>
	</servlet>
	<!-- Tree Map Builder -->
	<servlet>
		<servlet-name>RefTreeMap</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.RefTreeMap</servlet-class>
	</servlet>
	<!-- Reference Selector -->
	<servlet>
		<servlet-name>RefSelector</servlet-name>
		<servlet-class>org.fao.fi.figis.refselector.RefSelector</servlet-class>
	</servlet>
	<!-- Selector servlets -->
	<servlet>
		<servlet-name>TabSelector</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabSelector</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabStock</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabStock</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabWorkDom</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabWorkDom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabStatus</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabStatus</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabGender</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabGender</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabDisp</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabDisp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabSpecies</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabSpecies</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabGear</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabGear</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabLandArea</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabLandArea</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabWaterArea</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabWaterArea</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabEnvironment</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabEnvironment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabTradeFlow</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabTradeFlow</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabCommodity</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabCommodity</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabVesselClass</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabVesselClass</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabVesselType</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabVesselType</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabTime</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabTime</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabDisplay</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabDisplay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabMapParam</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabMapParam</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabAction</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabTopic</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabTopic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabCountry</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabCountry</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.chart.ChartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabStockRes</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabStockRes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TabMapLayers</servlet-name>
		<servlet-class>org.fao.fi.figis.selector.tabs.TabMapLayers</servlet-class>
	</servlet>
	<!-- charting servlets -->
	<servlet>
		<servlet-name>ChartModServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.chart.ChartModServlet</servlet-class>
	</servlet>
	<!-- servlet for delivering files from the backend -->
	<servlet>
		<servlet-name>ServerFileServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.data.servers.ServerFileServlet</servlet-class>
	</servlet>
	<!-- servlet for downloading files to the client -->
	<servlet>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>org.fao.fi.figis.util.data.servers.FileDownloadServlet</servlet-class>
	</servlet>
	<!-- Action Servlet Configuration -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.fao.fi.figis.fs.common.struts.FiActionServlet</servlet-class>
		<!-- <servlet-class>org.apache.struts.action.ActionServlet</servlet-class> -->
		<!-- Tiles config files are now declared with each TilesPlugin in struts-config.xml. Declaring a tiles config file here 
			makes it available to *all* TilesPlugins. This is useful to have common declarations. <init-param> <param-name>definitions-config</param-name> 
			<param-value>/WEB-INF/conf/struts/tiles/tiles-shared-defs.xml</param-value> </init-param> -->
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/conf/struts/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/edit</param-name>
			<param-value>/WEB-INF/conf/struts/struts-edit-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/manage</param-name>
			<param-value>/WEB-INF/conf/struts/struts-manage-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/upload</param-name>
			<param-value>/WEB-INF/conf/struts/struts-upload-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/website</param-name>
			<param-value>/WEB-INF/conf/struts/struts-website-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FiImageReposServlet</servlet-name>
		<url-pattern>/servlet/FiImageReposServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FiImageReposServlet</servlet-name>
		<url-pattern>/servlet/IRS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FiImageReposServlet</servlet-name>
		<url-pattern>/servlet/IRS.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FiImageReposServlet</servlet-name>
		<url-pattern>/servlet/IRS.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FiRefServlet</servlet-name>
		<url-pattern>/servlet/FiRefServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FiInit</servlet-name>
		<url-pattern>/servlet/FiInit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogManagerServlet</servlet-name>
		<url-pattern>/servlet/LogManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GraphGeneratorServlet</servlet-name>
		<url-pattern>/servlet/GraphGeneratorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NavigationManagerServlet</servlet-name>
		<url-pattern>/servlet/NavigationManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CacheManagerServlet</servlet-name>
		<url-pattern>/servlet/CacheManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefServLoader</servlet-name>
		<url-pattern>/servlet/RefServLoader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FigisLogonServlet</servlet-name>
		<url-pattern>/servlet/FigisLogonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>static</servlet-name>
		<url-pattern>/servlet/static</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>static</servlet-name>
		<url-pattern>/website/static</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>species</servlet-name>
		<url-pattern>/servlet/species</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>introsp</servlet-name>
		<url-pattern>/servlet/introsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geartype</servlet-name>
		<url-pattern>/servlet/geartype</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>vesseltype</servlet-name>
		<url-pattern>/servlet/vesseltype</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fishtech</servlet-name>
		<url-pattern>/servlet/fishtech</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>stock</servlet-name>
		<url-pattern>/servlet/stock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resource</servlet-name>
		<url-pattern>/servlet/resource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>document</servlet-name>
		<url-pattern>/servlet/document</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gisfish</servlet-name>
		<url-pattern>/servlet/gisfish</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>country</servlet-name>
		<url-pattern>/servlet/country</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>institute</servlet-name>
		<url-pattern>/servlet/institute</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FiEditServlet</servlet-name>
		<url-pattern>/servlet/FiEditServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FiEditListServlet</servlet-name>
		<url-pattern>/servlet/FiEditListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimpleQueryServlet</servlet-name>
		<url-pattern>/servlet/SQS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FsSearchServlet</servlet-name>
		<url-pattern>/servlet/FsSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FiXmlCheckServlet</servlet-name>
		<url-pattern>/servlet/FiXmlCheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatasetAccessor</servlet-name>
		<url-pattern>/servlet/DatasetAccessor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetaDataServlet</servlet-name>
		<url-pattern>/servlet/MetaDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefDisplayServlet</servlet-name>
		<url-pattern>/servlet/RefDisplayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserManagementServlet</servlet-name>
		<url-pattern>/servlet/UserManagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollectionManagementServlet</servlet-name>
		<url-pattern>/servlet/CollectionManagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RightsManagementServlet</servlet-name>
		<url-pattern>/servlet/RightsManagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetadataManagementServlet</servlet-name>
		<url-pattern>/servlet/MetadataManagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefServlet</servlet-name>
		<url-pattern>/servlet/RefServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefObjectServlet</servlet-name>
		<url-pattern>/servlet/RefObjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefColumnsServlet</servlet-name>
		<url-pattern>/servlet/RefColumnsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefImportServlet</servlet-name>
		<url-pattern>/servlet/RefImportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefPrintServlet</servlet-name>
		<url-pattern>/servlet/RefPrintServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefExportServlet</servlet-name>
		<url-pattern>/servlet/RefExportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefSortServlet</servlet-name>
		<url-pattern>/servlet/RefSortServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQServlet</servlet-name>
		<url-pattern>/servlet/SQServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefTreeMap</servlet-name>
		<url-pattern>/servlet/RefTreeMap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefSelector</servlet-name>
		<url-pattern>/servlet/RefSelector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabSelector</servlet-name>
		<url-pattern>/servlet/TabSelector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabStock</servlet-name>
		<url-pattern>/servlet/TabStock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabWorkDom</servlet-name>
		<url-pattern>/servlet/TabWorkDom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabStatus</servlet-name>
		<url-pattern>/servlet/TabStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabGender</servlet-name>
		<url-pattern>/servlet/TabGender</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabDisp</servlet-name>
		<url-pattern>/servlet/TabDisp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabSpecies</servlet-name>
		<url-pattern>/servlet/TabSpecies</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabGear</servlet-name>
		<url-pattern>/servlet/TabGear</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabLandArea</servlet-name>
		<url-pattern>/servlet/TabLandArea</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabWaterArea</servlet-name>
		<url-pattern>/servlet/TabWaterArea</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabEnvironment</servlet-name>
		<url-pattern>/servlet/TabEnvironment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabTradeFlow</servlet-name>
		<url-pattern>/servlet/TabTradeFlow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabCommodity</servlet-name>
		<url-pattern>/servlet/TabCommodity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabVesselClass</servlet-name>
		<url-pattern>/servlet/TabVesselClass</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabVesselType</servlet-name>
		<url-pattern>/servlet/TabVesselType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabTime</servlet-name>
		<url-pattern>/servlet/TabTime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabDisplay</servlet-name>
		<url-pattern>/servlet/TabDisplay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabMapParam</servlet-name>
		<url-pattern>/servlet/TabMapParam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabAction</servlet-name>
		<url-pattern>/servlet/TabAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabTopic</servlet-name>
		<url-pattern>/servlet/TabTopic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabCountry</servlet-name>
		<url-pattern>/servlet/TabCountry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabStockRes</servlet-name>
		<url-pattern>/servlet/TabStockRes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartServlet</servlet-name>
		<url-pattern>/servlet/ChartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabMapLayers</servlet-name>
		<url-pattern>/servlet/TabMapLayers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartModServlet</servlet-name>
		<url-pattern>/servlet/ChartModServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServerFileServlet</servlet-name>
		<url-pattern>/servlet/ServerFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/servlet/FileDownloadServlet</url-pattern>
	</servlet-mapping>
	<!-- Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- The Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Error pages -->
	<!-- Resource Not Found -->
	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.jsp</location>
	</error-page>
	<!-- System Error -->
	<error-page>
		<error-code>500</error-code>
		<location>/errors/exception.jsp</location>
	</error-page>
	<!-- Resource Not Found -->
	<error-page>
		<exception-type>java.io.FileNotFoundException</exception-type>
		<location>/errors/notfound.jsp</location>
	</error-page>
	<!-- System Error -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/errors/exception.jsp</location>
	</error-page>
	<!-- System Error -->
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/errors/exception.jsp</location>
	</error-page>
	<!-- Custom Tag Library Descriptor -->
	<jsp-config>
		<taglib>
			<taglib-uri>FiTransform</taglib-uri>
			<taglib-location>/WEB-INF/conf/custom/Transform.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://jakarta.apache.org/taglibs/regexp-1.0</taglib-uri>
			<taglib-location>/WEB-INF/conf/custom/taglibs-regexp.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://jakarta.apache.org/taglibs/string-1.1</taglib-uri>
			<taglib-location>/WEB-INF/conf/custom/taglibs-string.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
